<div class="container bg-dark mt-5 p-3">
    <div class="d-flex justify-content-around">
        <div class="d-flex flex-column ms-3 ">
            <h4 class="focus">MY FOCUS</h4>
            <h5> UI/UX</h5>
            <h5> UI/UX</h5>
            <h5> UI/UX</h5>
            <h5> UI/UX</h5>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <div class='d-flex align-items-center' >
                <button>html</button><progress value="100" max="100"> </progress>
            </div>
        
            <div  class='d-flex align-items-center' >
                <button>html</button><progress  value="90" max="100"> </progress>
            </div >
            <div  class='d-flex align-items-center'>
                <button>html</button><progress  value="80" max="100"> </progress>
            </div>
            <div  class='d-flex align-items-center'>
                <button>html</button><progress  value="70" max="100"> </progress>
            </div>
            <div  class='d-flex align-items-center'>
                <button>html</button><progress  value="60" max="100"> </progress>
            </div>
            <div  class='d-flex align-items-center'>
                <button>html</button><progress  value="50" max="100"> </progress>
            </div>

        </div>
    </div>
</div>
